.h1{
    
    color: #440070;
    display: inline-block;
    font-size: 30px;
  }

  .topbar {
      
    background-color: #D699FF;
    box-shadow: 0px 5px 0px 1px rgb(0 0 0 / 15%);
    width: 100%;
    padding: 2px 40px 22px 22px;
}

#timer,#sidebtn,#show_sketch{
    display: inline-block;
    background-color: #fff;
    padding: 4px 14px;
    box-shadow: inset 1px 1px 0 1px rgb(0 0 0 / 15%);

}
#sidebtn:hover{
    
  background-color: rgb(222, 218, 218);
}
#show_sketch:hover
{
    
    background-color: rgb(222, 218, 218);
  }

div {
    display: block;
}
#topbar
{
    right: 15px;
    top: 12px;
    position: absolute;
}

#timerdiv
{
    position: absolute;
    top: 18px;
    margin: auto auto;
    left: 0;
    right: 0;
    font-family: "Roboto Mono",monospace;
    text-align: center;
}

h3{
    padding-left: 28px;
}

.modal-body,.modal-title
{
    text-align: center;
}

#gono:hover {
    background-color: #d699ff;
    color: rgb(51, 51, 51);
}
#yesno {
    font-family: "Edu NSW ACT Foundation", cursive;
    color: rgb(225, 222, 222);
    border-width: 1px;
    border-color: rgb(107, 106, 106);
    font-size: 20px;
    padding-bottom: 10px;
    background-color: #8d1cd9;
    width: 300px;
}


